.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.App .App-header {
    background-color: #222;
    height: 186px;
    padding: 20px;
    color: #fff;
    display: block;
}

nav {
    border: 1px solid red;
    align-self: center;
    margin: 30px;
    background-color: pink;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin: 0px 0px 0px 0px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ol {
    padding: 0;
    width: 100%;
    margin: 0;
}

ol li {
    cursor: pointer;
    width: 250px;
    text-align: left;
    list-style: none;
    margin: 7px 0;
    padding: 10px;
}

ol li:nth-child(odd) {
    background: #f9f9f9;
}

ol li:nth-child(2n) {
    background: #efefef;
}

.Footer {
    font-weight: bold;
    color: ivory;
    font-size: 30px;
    height: 150px;
    background-color: #222;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer span {
    margin-left: 10px;
}

.clearButton {
    position: absolute;
    margin: 20px 0px 0px 100px ;
    background-image: url('https://www.iconsdb.com/icons/preview/color/FF9696/trash-10-xxl.png');
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.clearButton:hover {
    background-image: url('https://www.iconsdb.com/icons/preview/red/trash-10-xxl.png');
}